# Test files
test*

# Stored files
www/data/attachments/*
www/data/profiles/*
www/data/emojis/*
www/data/emojis/global/*

#  Keep files
!www/data/attachments/.keep
!www/data/attachments/logo
!www/data/profiles/default-avatar
!www/data/profiles/.keep
!www/data/emojis/.keep
!www/data/emojis/global/.keep

# Settings
www/settings.ini

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Sonar ###
.scannerwork
