# Test files
test*

# Stored files
attachements*
profiles*
emojis*
emojis/global*

#  Keep files
!attachements/.keep
!profiles/default-avatar
!profiles/.keep
!emojis/.keep
!emojis/global/.keep
www/settings.ini

# Logo
!attachements/logo

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Sonar ###
.scannerwork
