# Test files
test*

# Stored files
attachments/*
profiles/*
emojis/*
emojis/global/*

#  Keep files
!attachments/.keep
!attachments/logo
!profiles/default-avatar
!profiles/.keep
!emojis/.keep
!emojis/global/.keep

# Settings
www/settings.ini

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Sonar ###
.scannerwork
